<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	h1{
		border-top: 2px solid blue;
		border-bottom: 2px solid blue;
		background-color: lightblue;
		padding: 10px;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	body {
		margin : 0px;
		padding : 0px;
	}
	.content{
		margin: 10px;
	}
	ul{
		width: 400px;
		padding-left: 0px;
	}
	li{
		list-style: none;
		padding: 5px;
		margin: 5px;
		border: 2px outset gray;
		background-color: #e7e7e7;
	}
	.completed{
		border : 2px inset red;
		background-color: lightpink;
		font-style: italic;
	}

	</style>
	<script src="vendor/angular.js"></script>
	<script src="utils/module/module.js"></script>
	<script src="utils/factory/logger.js"></script>
	<script src="utils/factory/Task.js"></script>

	<script src="taskApp/module/module.js"></script>
	<script src="taskApp/controller/taskController.js"></script>
</head>
<body ng-app="taskApp" >
	<h1>Task Manager</h1>
	<div class="content" ng-controller="taskController" >
		<label for="">Task :</label>
		<input type="text" ng-model="newTask">
		<input type="button" value="Add Task" ng-click="tasks.addTask(newTask)">
		<input type="button" value="Remove Completed">
		<ul>
			<li ng-repeat="task in tasks.list" ng-click="task.toggleCompletion()" ng-class="task.isCompleted ? 'completed' : 'notCompleted'">{{task}}</li>			
		</ul>
		<div>
			# of Tasks : {{tasks.list.length}}
		</div>
		<div>
			# of Completed Tasks : {{tasks.getCompletedCount()}}
		</div>
	</div>
</body>
</html>