<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<link rel="stylesheet" href="styles/taskManager.css">


	<script src="vendor/angular.js"></script>
	<script src="utils/module/module.js"></script>
	<script src="utils/factory/logger.js"></script>
	<script src="utils/factory/Task.js"></script>

	<script src="taskApp/module/module.js"></script>
	<script src="taskApp/service/taskStorage.js"></script>
	<script src="taskApp/filter/limitTaskName.js"></script>
	<script src="taskApp/controller/taskController.js"></script>
</head>
<body ng-app="taskApp">
	<header>
	<h1>Task Manager</h1>	
	</header>
	
	<div class="content"  ng-controller="taskController" >
		<div>
			<label for="txtSearch">Search :</label> 
			<input type="text" ng-model="searchTask.name">
			<input type="checkbox" ng-model="searchTask.isCompleted"> : completed?
			<input type="range" min="10" max="30" ng-init="taskNameLengthLimit = 10" ng-model="taskNameLengthLimit">
		</div>
		<label for="">Task :</label>
		<input type="text" ng-model="newTask">
		<input type="button" value="Add Task" ng-click="tasks.addTask(newTask)">
		<input type="button" value="Remove Completed">
		<ul>
			<li ng-repeat="task in tasks.list | filter:searchTask" ng-click="tasks.toggle(task)" ng-class="task.isCompleted ? 'completed' : 'notCompleted'">{{task.name | limitTaskName:taskNameLengthLimit}}</li>			
		</ul>
		<div>
			# of Tasks : {{tasks.list.length}}
		</div>
		<div>
			# of Completed Tasks : {{tasks.getCompletedCount()}}
		</div>
	</div>
</body>
</html>